---
layout: default
permalink: "/episodes/"
---
<div>
<ul class="episode-card-list">
  {% for episode in site.episodes reversed %}
    {% unless forloop.first %}
    <li>
      {% include episode-card.html
        episode=episode
      %}
    </li>
    {% endunless %}
  {% endfor %}
  {% for episode in site.episodes reversed %}
    {% unless forloop.first %}
    <li>
      {% include episode-card.html
        episode=episode
      %}
    </li>
    {% endunless %}
  {% endfor %}
  {% for episode in site.episodes reversed %}
    {% unless forloop.first %}
    <li>
      {% include episode-card.html
        episode=episode
      %}
    </li>
    {% endunless %}
  {% endfor %}
  {% for episode in site.episodes reversed %}
    {% unless forloop.first %}
    <li>
      {% include episode-card.html
        episode=episode
      %}
    </li>
    {% endunless %}
  {% endfor %}
  {% for episode in site.episodes reversed %}
    {% unless forloop.first %}
    <li>
      {% include episode-card.html
        episode=episode
      %}
    </li>
    {% endunless %}
  {% endfor %}
</ul>
</div>
